{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Профайл пользователя {{ user.username }}{% endblock %}

{% block content %}    
    <h1>Все посты пользователя {{ user.username }} </h1>
    <h3>Всего постов: {{ count_posts }}</h3>
    {% include 'posts/includes/follow_temp.html' %}
    {% for post in  page_obj%}
      {% include 'posts/includes/post_list.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
{% endblock %}